
.counter-wrapper{
    border: 2px black solid;
    border-radius: 5%;
    color: blue;
    max-width: fit-content;
}

.counter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.counter-start-item{
    margin: auto;
}

.counter-card-item{
    margin: auto;
}